@charset "UTF-8";

// Flexコンテナ : 横-折り返しなし
@mixin flex-row-nowrap() {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

@mixin link-active() {
    a {
        color: $color-active-link;
    }
    a:hover {
        color: $color-hover-link;
    }
}
