@charset "UTF-8";

// sanitize
@import "./lib/sanitize.3.2.0";

:root {
    font-family: "Monda", "Noto Sans JP", sans-serif;
    letter-spacing: 0.12rem;
    color: $color-main-text;
}

// paddingとborderの幅を要素の幅と高さに含める
* {
    box-sizing: border-box;
}

a {
    color: $color-base-link;
    &:hover {
        color: $color-hover-link;
    }
}
