@charset "UTF-8";

// ===========================
// Size
// ===========================
$size-site-width: 1000px;
$size-header-height: 128px;


// ===========================
// Color
// ===========================
$color-theme-main: #434a54;
$color-main-white: #fff;
$color-sub-white: #d9d9d9;
